<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>droplet</string>
	<key>CFBundleGetInfoString</key>
	<string>DeDRM 5.4.1. AppleScript written 2010–2012 by Apprentice Alf and others.</string>
	<key>CFBundleIconFile</key>
	<string>DeDRM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DeDRM 5.4.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.4.1</string>
	<key>CFBundleSignature</key>
	<string>dplt</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<true/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>0</real>
		<key>savedFrame</key>
		<string>287 405 800 473 0 0 1440 878 </string>
		<key>selectedTabView</key>
		<string>event log</string>
	</dict>
</dict>
</plist>
